@using Helper
@{
    // var currentUser = SessionData.CurrentUser;
    // var companyInfo = Configurations.GeneralSettings;
}

<div class="side-content-wrap">
    <div class="sidebar-left open  rtl-ps-none" data-supress-scroll-x="true" >
        <ul class="navigation-left" >
            <li class="nav-item" data-nav="dashboard">
                <a class="nav-item-hold" href="#">
                    <i class="nav-icon fa fa-desktop"></i>
                    <span class="nav-text">Dashboard</span>
                </a>

            </li>
        </ul>

    </div>

</div>